@*<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-shop-window"></i> ECommerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administración</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Dashboard" asp-action="Index"><i class="bi bi-thermometer-snow text-danger"></i> Dashboard</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Conceptos" asp-action="Index"><i class="bi bi-list-columns-reverse  text-danger"></i> Conceptos</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Bodegas" asp-action="Index"><i class="bi bi-exclude text-danger"></i> Bodegas</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="Index"><i class="bi bi-aspect-ratio text-danger"></i> Pedidos</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Index"><i class="bi bi-gift-fill text-danger"></i> Productos</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Index"><i class="bi bi-unity text-danger"></i> Usuarios</a></li>
                            <li><hr class="dropdown-divider" /></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>*@
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
      @*  <a class="navbar-brand" href="#!">Start Bootstrap</a>*@
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-shop-window"></i>  Start Bootstrap ECommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                @*<li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>*@
                <li class="nav-item">
                    <a class="nav-link text-dark active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                @*<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administración</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-area="" asp-controller="Dashboard" asp-action="Index"><i class="bi bi-thermometer-snow text-danger"></i> Dashboard</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Conceptos" asp-action="Index"><i class="bi bi-list-columns-reverse  text-danger"></i> Conceptos</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Bodegas" asp-action="Index"><i class="bi bi-exclude text-danger"></i> Bodegas</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Departamentos" asp-action="Index"><i class="bi bi-aspect-ratio text-danger"></i> Departamentos</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Index"><i class="bi bi-gift-fill text-danger"></i> Productos</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Ivas" asp-action="Index"><i class="bi bi-unity text-danger"></i> Ivas</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Medidum" asp-action="Index"><i class="bi bi-unity text-danger"></i> Medidas</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
@*<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
*@