
@model ProductoDto
@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}

<h1>AddOrEdit</h1>

<div class="container smfont">
    <form asp-action="AddOrEdit" autocomplete="off" asp-route-id="@Model.IdProducto" onsubmit="return jQueryAjaxPost(this);">
        <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProducto" />


            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control smfont" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control smfont" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="DepartamentoId" class="control-label"></label>
                <input asp-for="DepartamentoId" class="form-control smfont" />
                <span asp-validation-for="DepartamentoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="IVAId" class="control-label"></label>
                <input asp-for="IVAId" class="form-control smfont" />
                <span asp-validation-for="IVAId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control smfont" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control smfont" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control smfont" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="PathImagen" class="control-label"></label>
                <input asp-for="PathImagen" class="form-control smfont" />
                <span asp-validation-for="PathImagen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="GuidImagen" class="control-label"></label>
                <input asp-for="GuidImagen" class="form-control smfont" />
                <span asp-validation-for="GuidImagen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="MedidaId" class="control-label"></label>
                <input asp-for="MedidaId" class="form-control smfont" />
                <span asp-validation-for="MedidaId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="Medida" class="control-label"></label>
                <input asp-for="Medida" class="form-control smfont" />
                <span asp-validation-for="Medida" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="required">*</span>
                <label asp-for="Pieza" class="control-label"></label>
                <input asp-for="Pieza" class="form-control smfont" />
                <span asp-validation-for="Pieza" class="text-danger"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-dismiss="modal"><i class="bi bi-x-octagon"></i> Cancelar</button>
            <button type="submit" class="btn btn-sm btn-outline-success"><i class="bi bi-save-fill"></i> Guardar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
